a {
    color: #909896 !important;
}
.container-footer{
    margin: 0 40px;
    padding: 40px 0;
    border-top:1px solid #235A43 ;
    border-bottom:1px solid #235A43 ;
}
.logo{
    width: 160px;
    
}
