.about-section {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* lớp làm tối */
    url('../assets/jpg/aboutus.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 0;
}