.product {
  position: relative;
  max-width: 300px;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease;
  color: inherit; // Kế thừa màu chữ
  text-decoration: none; // Bỏ gạch chân
  // --- THÊM 3 DÒNG NÀY ---
  display: flex;
  flex-direction: column;
  height: 450px;

  &:hover {
    transform: translateY(-5px);
    color: #000;
  }

  .image-box {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .discount-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #e60000;
      color: white;
      font-weight: 700;
      font-size: 0.8rem;
      padding: 4px 6px;
      border-radius: 6px;
      z-index: 10;
    }
    .discount-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #e60000;
      color: white;
      font-weight: 700;
      font-size: 0.8rem;
      padding: 4px 6px;
      border-radius: 6px;
      z-index: 10;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.3s ease-in-out;
      object-fit: cover;
    }
    .image-wrapper {
      width: 100%; 
      margin: 0 auto;
      overflow: hidden;
    }
    // Hover phóng ảnh
    .product:hover & img {
      transform: scale(1.05);
    }

    .add-to-cart {
      position: absolute;
      top: 50%; // giữa ảnh
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #08740e;
      color: white;
      padding: 10px 10px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      font-weight: 500;
      font-size: 13px;
      &.sold-out {
        opacity: 1; // Luôn luôn hiện
        background-color: #999; // Màu xám
        cursor: not-allowed;
        font-weight: 600;
      }
    }

    // Hiện nút khi hover card
    .product:hover & .add-to-cart:not(.sold-out) {
      opacity: 1;
    }
  }

  .info {
    padding: 10px 15px;
    text-align: center;

    .product-name {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price {
      display: flex;
      justify-content: center;
      gap: 8px;
      align-items: baseline;

      .discounted {
        color: #e60000;
        font-weight: 700;
      }

      .original {
        color: #999;
        text-decoration: line-through;
        font-size: 0.9rem;
      }
    }
  }
}
